html,body{margin: 0;padding: 0;}

.all{
	width: 95%;
	margin: 0 auto;
}
.picture{
	width: 100%;
	position: relative;
	height: 400px;
	overflow: hidden;
}
.picture-li{position: absolute;top: -85px;}
.picture div,img{ width: 100%;}
.but-yue{width: 100%;margin: 0 auto;}

.but-yue button{
	width: 40%;
	color: #fff;
	background-color: #f900ff;
	border: 1px solid ##9200ffcc;
	height: 30px;
	font-weight: bold;
	
	animation: myfirst 5s;
	-moz-animation: myfirst 5s;	/* Firefox */
	-webkit-animation: myfirst 5s;	/* Safari 和 Chrome */
	-o-animation: myfirst 5s;	/* Opera */
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}



@keyframes myfirst
{
	from {background: red;}
	to {background: #f900ff;}
}

@-moz-keyframes myfirst /* Firefox */
{
	from {background: red;}
	to {background: #f900ff;}
}

@-webkit-keyframes myfirst /* Safari 和 Chrome */
{
	from {background: red;}
	to {background: #f900ff;}
}

@-o-keyframes myfirst /* Opera */
{
	from {background: red;}
	to {background: #f900ff;}
}


.but-no-yue button{
	width: 40%;
	color: #fff;
	background-color: #f900ff;
	border: 1px solid ##9200ffcc;
	height: 30px;
	font-weight: bold;
	
	position:fixed;

	top:0px;	
	animation:myfirst 5s linear 2s infinite alternate;
	/* Firefox: */
	-moz-animation:myfirst 5s linear 2s infinite alternate;
	/* Safari and Chrome: */
	-webkit-animation:myfirst 5s linear 2s infinite alternate;
	/* Opera: */
	-o-animation:myfirst 5s linear 2s infinite alternate;
}

@keyframes myfirst
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:calc(60% - 1px); top:0px;}
50%  {background:blue; left:calc(60% - 1px); top:500px;}
75%  {background:green; left:0px; top:500px;}
100% {background:red; left:0px; top:0px;}
}

@-moz-keyframes myfirst /* Firefox */
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:calc(60% - 1px); top:0px;}
50%  {background:blue; left:calc(60% - 1px); top:500px;}
75%  {background:green; left:0px; top:500px;}
100% {background:red; left:0px; top:0px;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:calc(60% - 1px); top:0px;}
50%  {background:blue; left:calc(60% - 1px); top:500px;}
75%  {background:green; left:0px; top:500px;}
100% {background:red; left:0px; top:0px;}
}

@-o-keyframes myfirst /* Opera */
{
0%   {background:red; left:0px; top:0px;}
25%  {background:yellow; left:calc(60% - 1px); top:0px;}
50%  {background:blue; left:calc(60% - 1px); top:500px;}
75%  {background:green; left:0px; top:500px;}
100% {background:red; left:0px; top:0px;}
}